<h1>Told My Friend</h1>
<p>Email Referral Tracker</p>
<p>
  BCC "acompany@toldmyfriend.com" to get credit for the referral if your friend signs up for the service. You don't need to
  tell your friend it's a referral and your friend's email isn't shared with the company. We don't email your friend, the
  company doesn't email your friend.
</p>
